<form
  class="pt-2 row flex-wrap"
  [formGroup]="storageForm"
  (ngSubmit)="onSubmit()"
>
  <!-- NAME INPUT -->
  <div class="col-6">
    <label class="mt-1" for="exampleInputName"
      >Tên nguyên liệu <span class="text-danger">*</span>
    </label>
    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="Nhập tên nguyên liệu"
      formControlName="name"
    />

    <div role="alert" *ngIf="get('name').touched && get('name').invalid">
      <small class="text-danger" *ngIf="get('name').errors.required"
        >Bắt buộc</small
      >
      <small class="text-danger" *ngIf="get('name').errors.maxlength"
        >Tên quá dài</small
      >
    </div>
  </div>

  <div class="col-6">
    <label class="mt-1" for="exampleInputPrice"
      >Giá <span class="text-danger">*</span></label
    >
    <input
      type="number"
      class="form-control"
      name="price"
      placeholder="Nhập giá"
      formControlName="price"
    />

    <div role="alert" *ngIf="get('price').touched && get('price').invalid">
      <small class="text-danger" *ngIf="get('price').errors.required"
        >Bắt buộc</small
      >
    </div>
  </div>
  <!-- PHONE INPUT -->

  <div class="col-6 mt-3">
    <input
      type="number"
      class="form-control w-100 mr-1"
      name="quantity"
      placeholder="Số lượng"
      formControlName="quantity"
    />
    <div
      role="alert"
      *ngIf="get('quantity').touched && get('quantity').invalid"
    >
      <small class="text-danger" *ngIf="get('quantity').errors.required"
        >Quantity is required</small
      >
    </div>
  </div>
  <div class="col-3 mt-3">
    <input
      type="text"
      class="form-control w-100"
      name="unit"
      placeholder="Đơn vị"
      formControlName="unit"
    />
  </div>
  <div class="col-3 mt-3">
    <mat-form-field appearance="fill" class="col-12 px-0">
      <mat-label>Danh mục</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of category" [value]="cat">
          {{ cat }}
        </mat-option>
      </mat-select>
      <div
        role="alert"
        *ngIf="get('category').touched && get('category').invalid"
      >
        <small class="text-danger" *ngIf="get('category').errors.required"
          >Bắt buộc</small
        >
      </div>
    </mat-form-field>
  </div>
  <small *ngIf="errorMessage.length > 1" class="text-danger ml-3">
    {{ errorMessage }}</small
  >

  <div class="mt-4 col-12 px-0 row justify-content-end">
    <button
      class="mx-1 bg-danger text-light"
      mat-raised-button
      (click)="cancel($event)"
    >
      Hủy
    </button>
    <button
      class="mx-1 bg-success text-white"
      type="submit"
      mat-raised-button
      [disabled]="!storageForm.valid"
      [class.disabled]="!storageForm.valid"
      *ngIf="!data.editMode"
    >
      Thêm
    </button>
    <button
      class="mx-1 bg-primary text-light"
      mat-raised-button
      (click)="updateItem($event, data.ingredient)"
      *ngIf="data.editMode"
      [disabled]="!storageForm.valid"
      [class.disabled]="!storageForm.valid"
    >
      Cập nhật
    </button>
  </div>
</form>
