<div class="container-fluid m-0 p-0" style="font-size: 14px">
  <div class="row col-12 p-0 m-0 justify-content-between">
    <!-- -----------------------------------MAIN CONTENT---------------------------------------------- -->
    <div class="border bg-light col-2 px-0">
      <app-client-side-nav
        [clients]="sortedClients"
        [sortedClients]="sortedClients"
        [editMode]="editMode"
        [selectedClient]="selectedClient"
        (onClientChange)="handleSearch($event)"
        (onEditChange)="handleUpdate($event)"
      >
      </app-client-side-nav>
    </div>

    <!-- ----------------------------CLIENT TABLE---------------------------------------------------- -->
    <div class="col-10 px-0">
      <div
        class="
          col-12
          py-2
          px-3
          mb-1
          bg-light
          text-info
          d-flex
          align-items-center
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="currentColor"
          class="bi bi-people border border-info p-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"
          />
        </svg>
        <span class="ml-2 font-weight-bold">Quản lí khách hàng </span>
      </div>
      <table
        id="table"
        class="col-11 my-3 mx-auto table table-hover table-fixed"
        style="background-color: white"
      >
        <thead class="bg-info text-light" style="position: sticky">
          <tr class="d-flex pr-3">
            <th class="col-2 border-right text-center">Mã khách hàng</th>
            <th class="col-2 border-right text-center">Tên khách hàng</th>
            <th class="col-2 border-right text-center">Số điện thoại</th>
            <th class="col-2 border-right text-center">Tổng chi tiêu</th>
            <th class="col-2 border-right text-center">Điểm tích lũy</th>
            <th class="col-1 text-center"></th>
            <th class="col-1 text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients" class="d-flex flex-wrap">
            <td class="col-2 border-right border-bottom">
              KH-00{{ client.id }}
            </td>
            <td
              class="col-2 border-right border-bottom text-wrap"
              appInputFormat
            >
              {{ client.name }}
            </td>
            <td class="col-2 border-right border-bottom text-center">
              {{ client.phone }}
            </td>
            <td class="col-2 border-right border-bottom px-0 text-center">
              {{ client.totalSpent }}
            </td>
            <td class="col-2 border-right border-bottom text-center">
              {{ client.point }}
            </td>
            <td
              class="
                col-1
                border-right border-bottom
                d-flex
                justify-content-center
              "
            >
              <button
                class="px-1"
                mat-raised-button
                color="warn"
                (click)="deleteClient(client)"
              >
                Xóa
              </button>
            </td>
            <td
              class="
                col-1
                border-right border-bottom
                d-flex
                justify-content-center
              "
            >
              <button
                class="px-1 mx-auto"
                mat-raised-button
                class="bg-success text-light"
                (click)="editClient(client)"
              >
                Sửa
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
