li .nav-item {
  display: flex;
  align-items: center;
}

li a {
  font-size: 15px;
  font-weight: 500;
}

div.dropdown::after {
  color: white;
  /* transform: rotate(180deg); */
}

div.dropdown::selection {
  background-color: lightblue;
  transform: rotate(180);
}

.dropdown-toggle::after {
  margin-left: 0px;
}
